.About {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.About--Bio {
    line-height: 1.5;
    padding: 2rem 2rem 2rem 0;
}

.About--ImageContainer {
    padding: 2rem;
    object-fit: cover;
}

.About--Image {
    max-width: 100%;
    height: auto;
    display: block;
}