.About {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.About--Bio {
    padding: 2rem 2rem 2rem 0;
}

.About--ImageContainer {
    padding: 2rem;
    object-fit: cover;
}

.About--Image {
    width: 100%;
    height: auto;
    display: block;
}