.Writing--Feature {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.Writing--FeatureImage {
    padding: 1rem;
    max-width: 100%;
}

.Writing--FeatureText {
    padding: 1rem 1rem 1rem 0;
}

.Writing--Button {
    padding: 1rem 2rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.Writing--Button:hover {
    background-color: pink;
}