.NavBar {
  display: flex;
  justify-content: center;
}

.NavBar--Tabs {
  display: flex;
  justify-content: space-between;
}

.NavBar--Tab {
  padding: 0 1rem;
}

@media screen and (max-width: 600px) {
  .NavBar {
    flex-direction: column;
  }
}