@import 'src/constants.scss';

@font-face {
  font-family: 'Comic Neue';
  src: url('../fonts/ComicNeue-Angular/ComicNeueAngular-Regular.ttf') format('truetype');
}

.App {
  font-family: 'Comic Neue', sans-serif;
  background-color: $background-color;
}

@media screen and (min-width: $TABLET_BREAKPOINT) {
  .App {
    padding: 0 8rem;
  }
}

@media screen and (max-width: $TABLET_BREAKPOINT) {
  .App {
    padding: 0 2rem;
  }
}